<!doctype html>
<html lang="en">
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

<head>
  <title>Azure - Image analysis OCR</title>
  <link rel="stylesheet" href="{{ url_for('static', path='bootstrap/css/bootstrap.min.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', path='favicon.ico') }}">
</head>
<html>

<body>
  <main>
    <div class="px-4 py-3 my-2 text-center">

      <h1 class="display-6 fw-bold text-primary">Image Analysis OCR</h1>
    </div>
    <form method="post" enctype="multipart/form-data" action="{{ url_for('image_analysis_OCR')}}">
      <div class="col-md-6 mx-auto text-center">
        <label for="name" class="form-label fw-bold fs-5">Upload a image you wish to analize</label>
        <div class="mb-3">
          <label for="formFile" class="form-label"></label>
          <input class="form-control" type="file" id="name" name="name">
        </div>
        <div class="d-grid gap-2 px-6 d-sm-flex justify-content-sm-center my-2">
          <button type="submit" class="btn btn-primary btn-lg  gap-3">Process</button>
        </div>
      </div>
    </form>
    <div class="container">
    <div class="col-md-12 pt-4 mx-auto">

      <div class="col-md-8 mx-auto">
        <span style="white-space: pre-line">
          {% if original_post != "" %}
            <img src="{{ original_post }}" alt="Uploaded Image" class="img-fluid">
  
          {% endif %}
        
      </span>
      </div>
      
    <div class="col-md-8 mx-auto">
      <span style="white-space: pre-line">
      {{ summerization }}
    </span>
    </div>
  
    <div class="row">
      <div class="text-end">
        <a href="{{ url_for('index') }}" class="btn btn-primary btn-md ">Back home</a>
      </div>
    </div>
   
 

    </div>
  </div>

  </main>
</body>

</html>