<!doctype html>
<html lang="en">
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

<head>
  <title>Azure - AI examples</title>
  <link rel="stylesheet" href="{{ url_for('static', path='bootstrap/css/bootstrap.min.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', path='favicon.ico') }}">
</head>
<html>

<body>
  <main>
    <div class="px-4 py-2 my-2 text-center">
      <img class="d-block mx-auto mb-4" src="{{ url_for('static', path='images/azure-icon.svg') }}" alt="Azure Logo"
        width="192" height="192" />
      <h4 class="display-6 fw-bold text-primary">Azure AI services examples</h4>
    </div>


    <div class="px-1 py-1  text-center">
      <a href="sentiment_analyze">Sentiment analyze with opinion mining</a>
      <p>Determine the sentiment and opinions expressed in text.</p>
    </div>
    <div class="px-1 py-1  text-center">
      <a href="summerization">Summerization of text</a>
      <p>Summarize long chunks of text or conversations.</p>
    </div>
    <div class="px-1 py-1  text-center">
      <a href="extract_key_phrases">Extract key phrases</a>
      <p>Extract main topics and important phrases.</p>
    </div>
    <div class="px-1 py-1  text-center">
      <a href="entity_recognition">Entity Recognition</a>
      <p>Entity Recognition can identify and categorize entities in text.</p>
    </div>
    <div class="px-1 py-1  text-center">
      <a href="image_analysis">Image Analysis</a>
      <p>Extract a wide variety of visual features from your images.</p>
    </div>
    
    <div class="px-1 py-1  text-center">
      <a href="image_analysis_OCR">Image Analysis OCR</a>
      <p>Extract text from your images.</p>
    </div>


  </main>
</body>

</html>